<h1>Cars page</h1>

<p>There are currently <%= @cars.length %> cars in the database.</p>

<h3>Your mission</h3>
<ol>
  <li>Make it possible to goto /cars/:id and inspect the car with that id</li>
  <li>Display the message <em>There is no car available</em> if no car is found with the given id</li>
</ol>
